@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

.closing {
  transform-origin: bottom !important;
  animation: closinAnimation 1.2s backwards !important;
}
@keyframes closinAnimation {
  0% {
    opacity: 1;
    transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    transform: scale(0, 0);
  }
}
